---
layout: default
title: Itfly's Tech Blog
---
<h1>On The Road</h1>
<hr/>
{% for post in paginator.posts %}
<div class='post'>
  <h2>
    <a href='{{ post.url }}'>{{ post.title }}</a>
  </h2>
  <p>{{ post.content | strip_newlines | strip_html | truncatewords: 60 }}</p>
  <span class='date'>{{ post.date | date_to_string }}</span>
  <a class='readmore' href='{{ post.url }}'>Readmore →</a>
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination-panel" role="navigation">
	<nav class="pagination" role="navigation">
		{% if paginator.previous_page %}
		<a class="newer-posts" href="{{ paginator.previous_page_path }}"><span aria-hidden="false">←</span> Newer Posts</a>
		{% else %}
		<a class="newer-posts disabled"><span aria-hidden="true">←</span> Newer Posts</a>
		{% endif %}
		<span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
		{% if paginator.next_page %}
		<a class="older-posts" href="{{ paginator.next_page_path }}">Older Posts <span aria-hidden="false">→</span></a>
		{% else %}
		<a class="older-posts disabled">Older Posts <span aria-hidden="true">→</span></a>
		{% endif %}
	</nav> <!-- categories end -->
</div> <!-- pagination-panel end -->
